<div class="page">
    <div class="faj-container">
      <div class="faj-img-container">
        <img class="faj-img" src="../img/assets/nations/rugysze.png" alt="Rügysze" />
      </div>
      <div class="faj-txt">
        <p class="nep-nev">Rügysze</p>
        <hr />
        <p class="leiras">
          A rügysze, vagy más nevükön rügyesek a növényszerzetek leggyakoribb
          alfaja. Azokon a mezőkön és napsütötte erdőkben születnek amik már
          szinte teljesen elfelejtették a régi háborúk vérontását és az utazók
          lábnyomait. A környezetüktől függően hasonlíthatnak hatalmas
          virágokra vagy kis lomb födte bokrokra, szépségük miatt sokszor
          tévesztik össze őket álruhás tündérekkel. Gyermeki kíváncsisággal
          fürkészik a világot és imádják más lények társaságát. Mesterei a
          rejtőzködésnek és akár napokig követik észrevétlenül a náluk
          megforduló utazókat. A fellelhető leírásokban néha virágszirmokból
          szétágazó koronával, máskor sziromruhában írják le őket egy különös
          tárggyal a mellkasuk közepén vagy egyéb testrészükön.
        </p>
      </div>
    </div>
    <div class="faj-container">
      <div class="faj-img-container">
        <img class="faj-img" src="../img/assets/nations/kergelab.png" alt="Kérgelábak" />
      </div>
      <div class="faj-txt">
        <p class="nep-nev">Kérgelábak</p>
        <hr />
        <p class="leiras">
          A kéreglábak, más neveiken röcsögők vagy egyszerűen kérgesek bár
          ritkábbak mint rokonaik, még is ők rendelkeznek a legtöbb hírnévvel
          és gyerekmesék gyakori szereplői. Néha évtizedekbe is telhet amire
          egy kérgeláb megszületik, cserébe képesek akár több száz, talán több
          ezer évig is élni. A legnagyobb dokumentált kérgeláb Öreg Csök, egy
          több mint száz méteres tölgyfa akinek az ereklyéjét senki sem
          láthatta, de a szóbeszéd szerint egy áradás előtti nagy hatalmú
          mágusé lehetett. Nyugodt és megfontolt lények, nem szeretik a
          hirtelen változásokat és legtöbbször egész életüket ugyanabban az
          erdőben élik le. A kérgük szívósabb bármelyik fánál így ha sikerül
          kiérdemelned egy kérgeláb dühét egy egyszerű fejsze nem fog
          megmenteni. A lombkoronájuk változik az évszakokkal és ha nem
          mozdulnak meg képesek teljesen beleolvadni mozdulatlan társaik közé.
        </p>
      </div>
    </div>
    <div class="faj-container">
      <div class="faj-img-container">
        <img class="faj-img" src="../img/assets/nations/kalapos.png" alt="Kalaposok" />
      </div>
      <div class="faj-txt">
        <p class="nep-nev">Kalaposok</p>
        <hr />
        <p class="leiras">
          A mocsarak, öreg erdők és barlangok mélyén, a Nap égető tekintetétől
          védve burjánzanak a gombák csalogató méregzöld pompájukban. A
          kalaposok ezeknek a gombáknak a rokonai, egy ősi életforma és ősi
          hatalom egyesülésének termékei. A nevüket a fejükön lévő gomba
          kalapról kapták amiknek a belsejében a spórák helyett a lemezek
          csábító feromonokat, méregfelhőt, foszforeszkáló kristályszemcséket
          termelnek, bármit ami segít nekik a túlélésben. A kalaposak nem
          látják olyan gyerekszemmel a világot mint a rügyesek és nem
          fontolják meg minden lépésüket mint a kérgesek. Nem szeretik az
          emberek társaságát és ha tehetik messziről elkerülik őket. A puha,
          legtöbbször hófehér húsuk képes órák alatt teljesen visszanőni. A
          ritka hihető beszámolók a kalaposokról azt állítják hogy bár
          másokkal nem szívesen közösködnek, imádják fajtársaik társaságát és
          akár önzetlenek is tudnak lenni ha a közösségük túlélését elősegíti.
          Szeretik a praktikus ruhákat amiket elfeledett csataterekről és
          gyár-erődök környékről gyűjtenek össze.
        </p>
      </div>
    </div>
  </div>