$default-text-color: #f2c480;
.page {
  background-image: url(/img/assets/backgrounds/paper_bg.jpg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  gap: 1rem;
}

.faj-container {
  padding: 0.3rem;
  border-radius: 1rem;
  background-color: #444;
  box-shadow: 0rem 0.5rem 0.5rem #333;
  width: 17rem;
  max-height: 30rem;
  transform: scale(100%);
  transition: 0.5s ease;
  color: $default-text-color;
  cursor: pointer;
}

.faj-container:hover {
  transform: scale(105%);
}

.faj-container a {
  text-decoration: none;
}

.faj-img {
  border-radius: 1rem 1rem 1rem 100%/ 1rem 1rem 1rem 50%;
  width: 100%;
}

.faj-footer {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cim {
  width: 100%;
  text-wrap: nowrap;
  line-height: 5rem;
  font-size: 1.6rem;
}
