<div class="page">
    <div class="faj-container">
      <div class="faj-img-container">
        <img class="faj-img" src="../img/assets/nations/automa.jpg" alt="Automa" />
      </div>
      <div class="faj-txt">
        <p class="nep-nev">Automa</p>
        <hr />
        <p class="leiras">
          A fogaskerekek életedben először nekifeszülnek egymásnak és fény
          gyúl a hideg fém vázban ami az új tested, a mellkasodban érzed ahogy
          az egymáshoz drótozott rúnák ezrei feldolgozzák a világot
          körülötted. Látsz szemek nélkül, érzed a hideg levegőt ahogy átfúj
          minden kis résen és repedésen. Egyedül ébredtél egy rég elhagyatott
          műhely utolsó, félkész darabjaként? Vagy talán az első pillanatodtól
          kezdve az új, vértelen családod mutatta számodra az utat?
          Gépszülöttként, vagy ahogy az Alkotó nevezett titeket, Automaként a
          legújabb jövevények vagytok a világban. Egy évszázadig titkolt,
          beteljesületlen mestermű másolata. Egy életért küzdő lélek talált
          benned új, erősebb formára, vagy talán egy teljesen új lélek
          született benned? Csak azt tudod biztosan amit a vázadba véstek,
          ahogy egy ember az állati ösztöneit. A halandók megvetnek és
          csodálnak téged. A te dolgod hogy a nézeteikben megerősítsed vagy
          megcáfold őket és helyet követelj az egyre gyorsabban növekvő
          népednek.
        </p>
      </div>
    </div>
    <div class="faj-container">
      <div class="faj-img-container">
        <img class="faj-img" src="../img/assets/nations/automa1.png" alt="Automa model 1 - Fenntartók" />
      </div>
      <div class="faj-txt">
        <p class="nep-nev">Automa model 1 - Fenntartók</p>
        <hr />
        <p class="leiras">
          Az első generáció; fenntartók, tanítók és az új gépszülöttek
          megalkotói. Az Alkotótól fennmaradt leírások és tervrajzok
          segítségével nemcsak képesek megjavítani és gyarapítani a népüket,
          hanem új, tovább fejlesztett modellekkel állnak szembe a
          természettel ami megtagadja őket. Primitív, improvizált tartozékok
          alkotják a vázukat amik az évtizedek alatt egymáshoz forrtak. A Nagy
          Műhely fenntartói egy az Alkotó által megérintett tárgyat hordanak a
          vázuk belsejében. Az újabb generációk az alkotóik és mentorjaik
          egy-egy darabját őrzik maguknál a hódolat jeléül.
        </p>
      </div>
    </div>
    <div class="faj-container">
      <div class="faj-img-container">
        <img class="faj-img" src="../img/assets/nations/automa2.png" alt="Automa model 2.0 - Utódok" />
      </div>
      <div class="faj-txt">
        <p class="nep-nev">Automa model 2.0 - Utódok</p>
        <hr />
        <p class="leiras">
          Az utódok kinézetre olyan tökéletesen hasonlítanak az emberre, hogy
          képesek a városokban is észrevétlenül elvegyülni, szerszámok és
          durva nyersanyagok helyett a Nagy Műhely legújabb alkatrészei, több
          tucat fogaskerék és drótkötél irányítja a mozdulataidat.
        </p>
      </div>
    </div>
    <div class="faj-container">
      <div class="faj-img-container">
        <img class="faj-img" src="../img/assets/nations/automacustodi.png" alt="Automa custodi 0.5 - Örzők" />
      </div>
      <div class="faj-txt">
        <p class="nep-nev">Automa custodi 0.5 - Örzők</p>
        <hr />
        <p class="leiras">
          A fejlődés a természetünk része, viszont nem mindig önkéntes. A
          világ kegyetlensége kegyetlen megoldásokat hoz magával. Az Automa
          Custodi a legújabb modell ami az összes alap funkciót csak mint
          szükségesség tudja teljesíteni, a gyengébb motor funkciókért cserébe
          a custodi megtestesíti a hús és vér félelmet ami a megalkotásukhoz
          vezetett. Egy gyilkológép aminek nem kell se alvás se evés, akin nem
          fog se fegyver se mágikus penge. Egy custodi képes hordákat
          elpusztítani és ha minden egye fogaskerék is eltörik benne újra
          építik őket napok alatt.
        </p>
      </div>
    </div>
  </div>