.page {
  background-image: url(/img/assets/backgrounds/bg.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #333;
  --mat-form-field-outlined-label-text-populated-size: 1.3rem;
}

#title {
  font-size: 4rem;
  color: whitesmoke;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
  margin-top: 5rem;
}

button {
  font-size: larger;
  background-color: #444 !important;
  border-radius: 0.5rem;
  border: 0.2rem solid #222;
}

button span:first-child::before {
  background-color: transparent;
}

button:hover {
  color: whitesmoke;
}

input,
mat-label,
mat-icon {
  color: whitesmoke !important;
}

#registerBtn {
  color: whitesmoke;
  font-size: larger;
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: large;
  text-align: center;
}

@media (max-width: 450px) {
  #title {
    font-size: 2.5rem;
  }
}
