<div class="page">
  <span id="title"> Regisztráció </span>
  <div id="form-container">
    @if (isLoading) {
    <div class="loading-container">
      <h2>Regisztráció folyamatban</h2>
      <mat-spinner diameter="50"></mat-spinner>
      <p>Kérlek várj...</p>
    </div>
    } @if(showForm){
    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      class="register-form"
    >
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="psw" />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="rePsw" />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      @if (registerError) {
      <div class="error-message">
        {{ registerError }}
      </div>
      }

      <div class="buttons">
        <button mat-flat-button color="primary" type="submit">
          Regisztráció
        </button>
        <a id="loginBtn" [routerLink]="['/login']"> Már van fiókom </a>
      </div>
    </form>
    }
  </div>
</div>
