<div class="page">
  <div class="index-text">
    <div id="about">
      <span id="about-title">Miről szól az oldal</span>
      <p class="desc">
        Ez az oldal egy TTRPG-t (TableTop RolePlaying Game) hivatott nagy
        vonalakban bemutatni.
      </p>
      <p class="desc">
        Mi is az a TTRPG: A TTRPG egy szerepjáték, amelyet közösen összegyűlve
        egy asztalnál játszunk. Van egy mesélő aki az alkalomra egy történettel
        (kalanddal) készül, és a többi játékos, akiknek vannak különböző
        karaktereik, melyek bőrébe bújva játszák végig a mesélő által
        létrehozott kalandon.
      </p>
      <p class="desc">
        Ezen az oldalon "bemutatott" szerepjáték egy barátom alkotása (lesz),
        mivel még igen korai stádiumban létezik és korántsem alkalmas még arra,
        hogy normálisan lehessen vele játszani a kezdetlegességéből fakadóan. Az
        oldal célja, hogy bemutassa a játék világát, fajait és tájait, valamint
        a karakterkészítés folyamatát.
      </p>
      <!-- <p>Bejelentkezés: test&commat;gmail.com, testpw</p> -->
      <span id="close" (click)="closeAbout()">Bezárás</span>
    </div>
    <p id="cim" [appTextShadow]="'0.2rem 0.2rem 0.2rem black'">
      Értelmes Fajok Enciklopédiája
    </p>
    <p id="text" [appTextShadow]="'0.2rem 0.2rem 0.2rem black'">
      Ezen az oldalon a Kalauz a Végtelen Világokhoz nevű szerepjáték játszható
      fajairól olvashatsz rövid leírást. A fajok listája bővülni fog a későbbi
      kiadásokban, egyelőre az emberi és ember alkotta fajok elérhetőek, de
      később a nem emberi és más világok fajaival is ki fog bővülni az
      enciklopédia.
    </p>
  </div>
  <div id="help" (click)="showAbout()">
    <i class="fa-solid fa-question"></i>
  </div>
</div>
