* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Modern Antiqua", sans-serif;
}

html,
body {
  --mat-sys-primary: #333;
  //--mat-sys-on-primary: #f2c480;
  --mat-sys-outline: transparent;
  height: 100%;
  width: 100%;
}

.page {
  padding: 1rem;
  height: calc(100% - 6rem);
  width: calc(100% - 2rem);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #222 !important;
  overflow-y: auto;
  scrollbar-width: none;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  background-color: #444 !important;
  border: 0.2rem solid #222;
}

.mdc-text-field {
  border-radius: 0.5rem !important;
}

.mat-mdc-notch-piece {
  border: none !important;
}

.mdc-line-ripple::before,
.mdc-line-ripple::after {
  border-bottom-style: none !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper,
.mat-mdc-text-field-wrapper {
  border: 0.2rem solid #222 !important;
}

.mat-mdc-select-min-line {
  color: whitesmoke !important;
}
